html, body {
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

html {
    width: 100dvw;
    scroll-behavior: smooth;
}

body {
    width: 100dvw;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--primary-font);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    overflow-x: hidden;
}

/* Button */
.cta-button {
    width: fit-content;
    background-color: rgb(var(--accent-color2));
    padding: 10px 25px;
    display: block;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: var(--primary-font);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
}

.cta-button:hover {
    background-color: rgb(var(--accent-color2), 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: rgb(var(--accent-color2));
    transform: translateY(-5px);
}

.cta-button.secondary {
    background-color: rgb(var(--accent-color2), 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.cta-button.secondary:hover {
    background-color: rgb(var(--accent-color2));
    letter-spacing: 1px;
    border-radius: 25px;
    cursor: pointer;
}

nav {
    width: 100%;
    background-color: white;
    padding: 10px var(--page-x-deadzone);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(var(--accent-color2));
    z-index: 2;
}

nav > .logo > img {
    height: 75px;
}

nav > .links {
    max-height: 0;
    width: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    transform: translateY(-100px);
    display: flex;
    /* display: none; */
    flex-direction: column;
    align-items: center;
    list-style: none;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
    z-index: 2;
}

nav > .links > li {
    width: 100%;
}

nav > .links > li > a {
    width: 100%;
    padding: 14px var(--page-x-deadzone);
    display: block;
    text-decoration: none;
    text-align: center;
    color: var(--text-color);
    font-size: 1.1em;
    border-bottom: 1px solid rgb(var(--accent-color2), 0.7);
}

nav > .links > li > a:hover {
    background-color: rgb(var(--accent-color));
    color: white;
}

nav > .links.active {
    max-height: 700px;
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0px);
}

nav > .links > a {
    margin: 14px 0;
    font-size: 1.1rem;
}

nav > .hamburger-wrapper {
    height: 20px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media only screen and (min-width: 1040px) {
    nav > .hamburger-wrapper {
        display: none;
    }

    nav > .links {
        max-height: unset;
        width: fit-content;
        display: flex;
        flex-direction: row;
        gap: 50px;
        position: static;
        top: unset;
        left: unset;
        transform: translateY(0);
    }

    nav > .links > li {
        width: fit-content;
        margin: 0;
    }

    nav > .links > li > a {
        width: fit-content;
        padding: 7px 14px;
        font-size: 1.277777777rem;
        border: none;
        border-radius: 10px;
    }

    nav > .links > li > a.active {
        color: rgb(var(--accent-color2));
    }

    nav > .links > li > a:hover {
        background-color: unset;
        color: rgb(var(--accent-color2));
    }
}

.banner {
    max-width: var(--max-section-size);
    width: 100vw;
    margin: var(--page-y-spacing) auto 0 auto;
    padding: 0 var(--page-x-deadzone);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner > .title {
    color: var(--text-color-heading);
    font-family: var(--secondary-font);
    line-height: 1.1;
}

.banner > .subtitle {
    margin-top: 10px;
    color: var(--text-color-subheading);
}

.banner > .subtitle > a {
    color: rgb(var(--accent-color));
}

/* Footer */

footer {
    background-color: rgb(var(--foreground-color));
    margin-top: var(--page-y-spacing);
    /* color: white; */
    border-top: 2px solid rgb(var(--accent-color2));
}

footer > .content {
    padding: calc(var(--section-y-spacing) * 2) var(--page-x-deadzone);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

footer > .content > .left {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 25px;
}

footer > .content > .left > .socials {
    display: flex;
    gap: 10px;
    align-items: center;
}

footer > .content > .left > .socials > .social {
    /* height: 25px;
    width: 25px; */
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(var(--accent-color2));
    border-radius: 50%;
    cursor: pointer;
}

footer > .content > .left > .socials > .social:hover {
    border-color: rgb(var(--accent-color));
}

footer > .content > .left > .socials > .social:hover > svg {
    fill: rgb(var(--accent-color));
}

footer > .content > .left > .socials > .social > svg {
    height: 25px;
    width: 25px;
    fill: rgb(var(--accent-color2));
}

footer > .content > .left > .contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer > .content > .left > .contact > * {
    font-size: 1.1rem;
    color: var(--text-color-secondary);
}

footer > .content > .left > .contact > a {
    width: fit-content;
    display: block;
    position: relative;
    text-decoration: none;
    border-bottom: 1px solid rgb(var(--accent-color2));
}

footer > .content > .right {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

footer > .content > .right > .title {
    font-family: var(--secondary-font);
    font-weight: normal;
    text-transform: uppercase;
}

footer > .content > .right > .links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

footer > .content > .right > .links > li > a {
    position: relative;
    color: var(--text-color-secondary);
    text-decoration: none;
    font-size: 1.1rem;
}

footer > .content > .right > .links > li > a:hover {
    color: rgb(var(--accent-color2));
}

footer > .content > .right > .links > li > a.active::after {
    content: "";
    height: 2px;
    width: 100%;
    margin-top: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(var(--accent-color2));
    border-radius: 5px;
}

footer > .cta-container {
    width: calc(100% - (2 * var(--page-x-deadzone)));
    margin: 0 var(--page-x-deadzone);
    display: flex;
    position: relative;
}

/* footer > .cta-container > .cta-button {
    background-color: rgb(var(--accent-color2));
    font-size: 0.9rem;
    padding: 10px 17px;
    z-index: 2;
}

footer > .cta-container > .cta-button:hover {
    background-color: rgb(var(--accent-color2), 0.8);
    color: white;
} */

/* Designer section of footer */

footer > .designer {
    width: 100%;
    background-color: rgba(var(--accent-color2));
    margin-top: calc(var(--section-y-spacing) * 2);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 14px;
}

footer > .designer > a {
    height: 17px;
    display: block;
}

footer > .designer > a > svg {
    height: 17px;
    fill: white;
}

body {
    background-image: url("../media/images/banner-bg.webp");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.47777777);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
}