/* Libraries */
@import url(../vendor/corbzhamburger/hamburger.css);

@import url(./reset.css);
@import url(./variables.css);
@import url(./base.css);

.hero {
    min-height: 558px;
    max-height: 1000px;
    height: calc(100vh - var(--mobile-nav-height));
    width: 100vw;
    /* margin-top: 2px; */
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.7) 35%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0)),
        url('../media/images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero > .content {
    width: 100%;
    padding: 0 var(--page-x-deadzone);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    color: white;
}

.hero > .content > h2 {
    text-align: center;
    font-weight: 500;
    font-family: var(--secondary-font);
    font-size: clamp(2em, 10vw, 3.4em);
}

.hero > .content > h2 > span {
    margin-left: 5px;
    /* 1. Define the gradient */
    background-image: linear-gradient(to right, rgb(140, 255, 209), rgb(255, 92, 63));

    /* 2. Clip the background to the text */
    -webkit-background-clip: text; /* Safari & Chrome support */
    background-clip: text;

    /* 3. Make the text transparent */
    color: transparent;
}

.hero > .content > p {
    opacity: 0.8;
    text-align: center;
}

.hero > .content > .buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.hero > .content > .buttons > a {
    border: 1px solid rgb(var(--accent-color2));
}

.hero > .content > .buttons > a:hover {
    color: white;
}

.hero > .amenities {
    background-color: rgba(148, 148, 148, 0.25);
    backdrop-filter: blur(5px);
    padding: 25px 20px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5) inset;
}

.hero > .amenities > .amenity {
    min-width: 208px;
    /* background-color: green; */
    padding: 0 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 1.1rem;
}

.hero > .amenities > .amenity:nth-child(n+2)::after {
    content: "";
    height: 100%;
    width: 2px;
    background-color: rgb(var(--accent-color));
    position: absolute;
    left: 0;
    border-radius: 25px;
}

/* .hero > .amenities > .amenity > .icon {
    height: 50px;
    width: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
} */

.hero > .amenities > .amenity > .icon>svg {
    height: 35px;
    width: 35px;
    fill: white;
}

.hero > .amenities > .amenity>span {
    text-align: center;
    letter-spacing: 1px;
    opacity: 0.7;
}

@media only screen and (min-width: 946px) {
    .hero > .amenities {
        display: flex;
    }
}

.services-overview {
    width: 100%;
    margin-top: var(--page-y-spacing);
}

.services-overview > .content {
    width: 100%;
    padding: 0 var(--page-x-deadzone);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.services-overview > .content > .card {
    width: 100%;
    background-color: rgb(var(--foreground-color));
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 11px rgba(119, 119, 119, 0.1);
}

.services-overview > .content > .card > .icon {
    height: 70px;
    width: 70px;
    background-color: rgba(var(--accent-color2), 0.14);
    padding: 10px;
    border-radius: 50%;
}

.services-overview > .content > .card > .icon > svg {
    height: 100%;
    fill: rgb(var(--accent-color2));
}

.services-overview > .content > .card > .title {
    margin-top: 15px;
    color: rgb(var(--accent-color2));
    font-weight: 500;
}

@media only screen and (min-width: 878px) {
    .services-overview > .content {
        flex-direction: row;
    }

    .services-overview > .content > .card:nth-child(n+2) {
        border-top: none;
        border-left: 2px solid rgb(var(--accent-color2));
    }
}

@media only screen and (min-width: 946px) {
    .services-overview > .content {
        display: none;
    }
}

.details {
    max-width: var(--max-section-size);
    width: 100%;
    margin: var(--section-y-spacing) auto 0 auto;
    padding: 0 var(--page-x-deadzone);
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.details > .cta-button {
    margin: 0 auto;
}

.rooms {
    width: 100%;
    /* padding: 0 var(--page-x-deadzone); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--section-y-spacing);
    flex-wrap: wrap;
}

.rooms > .room {
    height: 310px;
    width: clamp(300px, 100%, 400px);
    position: relative;
}

.rooms > .room > img {
    border-radius: 10px;
}

.rooms > .room > .content {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.91), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0));
    padding: 45px 15px 15px 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: white;
    border-radius: 0px 0px 10px 10px;
}

.rooms > .room > .content>h2 {
    font-weight: 500;
}

.rooms > .room > .content > .amenities {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.rooms > .room > .content > .amenities > .amenity {
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(190, 190, 190);
}

.rooms > .room > .content > .amenities > .amenity>svg {
    fill: rgba(190, 190, 190, 0.8);
}

.rooms > .room > .content > .bottom {
    /* margin-top: 14px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rooms > .room > .content > .bottom > .price {
    font-size: 1.28rem;
    font-weight: bold;
}

.rooms > .room > .content > .bottom > .price>span {
    font-size: 1rem;
    font-weight: normal;
}

.rooms > .room > .content > .bottom>a {
    padding: 7px 20px;
    font-size: 0.9rem;
}

.location {
    width: 100%;
    /* padding: 0 var(--page-x-deadzone); */
    display: none;
}

.location > iframe {
    max-width: var(--max-section-size);
    height: 450px;
    border-radius: 10px;
}

@media only screen and (min-width: 961px) {
    .details {
        grid-template-columns: auto 400px;
    }

    .details > .cta-button {
        display: none;
    }

    .location {
        display: block;
    }

    .location>iframe {
        height: 100%;
    }

    .rooms {
        flex-direction: column;
    }
}

.book-now {
    margin-top: 20px;
    padding: 0 var(--page-x-deadzone);
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-now>a {
    padding: 14px 70px;
    animation: cta-blink 1.4s infinite;
}

@keyframes cta-blink {
    0% {}

    50% {
        background-color: rgb(var(--accent-color2), 0.2);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        color: rgb(var(--accent-color2));
    }

    100% {}
}

.testimonials {
    width: min(100%, var(--max-section-size));
    margin-top: var(--section-y-spacing);
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    display: flex;
    mask-image: linear-gradient(to right,
            transparent,
            black 10%,
            black 90%,
            transparent);
}

.testimonials > .group {
    display: flex;
    gap: 50px;
    animation: infinite-scroll 37s linear infinite;
}

.testimonials > .group:nth-last-child() {
    margin-left: 50px;
}

@keyframes infinite-scroll {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}

.testimonials > .group > .testimonial {
    min-height: 170px;
    width: clamp(300px, 100%, 400px);
    background-color: rgb(var(--foreground-color));
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    gap: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(190, 190, 190, 0.1);
}

.testimonials > .group > .testimonial > .top {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
}

.testimonials > .group > .testimonial > .top > .img {
    height: 25px;
    width: 25px;
    background-color: rgb(206, 206, 206);
    border-radius: 50%;
}

.testimonials > .group > .testimonial > .bottom {
    font-size: 1.04rem;
    color: var(--text-color-secondary);
    flex-grow: 1;
    display: -webkit-box;
    line-clamp: 4;
    line-height: 1.4;
    -webkit-line-clamp: 4; /* number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Gallery */

.gallery {
    max-width: var(--max-section-size);
    width: 100%;
    margin: var(--section-y-spacing) auto 0 auto;
    padding: 0 var(--page-x-deadzone);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    grid-auto-rows: 12.5rem;
    grid-auto-flow: dense;
    gap: 0.75rem;
}

.gallery > figure {
    background-color: rgba(0, 0, 0, 0.2);;
    /* container-type: inline-size; */
    container: figure / inline-size;
    overflow: hidden;

    display: grid;
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 1fr; */

    /*
    Because 1fr = minmax(auto, 1fr),
    to prevent the grid blowout,
    set the minimum to zero.
  */
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);

    overflow: hidden;

    border-radius: 10px;
}

.gallery > figure > img {
    max-inline-size: 100%;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;

    /* grid-row: 1 / -1; */
    /* grid-column: 1 / -1; */
    grid-area: 1 / 1 / -1 / -1;

    transition: scale 0.2s ease-in-out;
}

.gallery > figure:hover img {
    scale: 1.125;
}

.gallery > figure > figcaption {
    grid-area: 1 / 1 / -1 / -1;
    align-self: end;
    z-index: 1;

    padding: 3em 15% 1em 1em;
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.3;
    background: linear-gradient(transparent 25%, rgb(0 0 0 / 0.75));
    display: none;
}

@container figure (width > 20rem) {
    .gallery > figure > figcaption {
        display: block;
    }
}

.gallery > figure > figcaption >  h3 {
    font-size: 1.0625rem;
}

.gallery > figure > figcaption > p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (width > 600px) {
    .gallery > figure:nth-child(1) {
        grid-area: span 2 / span 2;
    }

    .gallery > figure:nth-child(4n + 1) {
        grid-row: span 2;
    }

    .gallery > figure:nth-child(4n + 2) {
        grid-column: span 2;
    }
}

/* About Us */

.stay {
    width: 100%;
    padding: 0 var(--page-x-deadzone);
}

.stay > .content {
    max-width: var(--max-section-size);
    width: 100%;
    margin: var(--section-y-spacing) auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--section-y-spacing);
}

.stay > .content > .img-container {
    width: 100%;
    position: relative;
}

.stay > .content > .img-container > img {
    object-fit: cover;
    border-radius: 10px;
}

.stay > .content > .img-container > .info {
    background-color: rgb(var(--foreground-color));
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    padding: 10px;
    position: absolute;
    left: 10px;
    transform: translateY(-50%);
    display: none;
    /* color: white; */
    border-radius: 10px;
    box-shadow: 7px 7px 14px rgba(119, 119, 119, 0.1);
}

.stay > .content > .img-container > .info > h3 {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-color-secondary);
}

.stay > .content > .img-container > .info > .items {
    margin-top: 7px;
    display: flex;
    align-items: center;
}

.stay > .content > .img-container > .info > .items > .item {
    display: flex;
    align-items: center;
}

.stay > .content > .img-container > .info > .items > .item:nth-child(n+2)::before {
    content: "";
    height: 4px;
    width: 4px;
    background-color: var(--text-color);
    margin: 0 10px;
    display: block;
    border-radius: 50%;
}

.stay > .content > .right {
    width: 100%;
}

.stay > .content > .right > h2 {
    font-family: var(--secondary-font);
    font-size: 2em;
}

.stay > .content > .right > p {
    margin-top: 5px;
    color: var(--text-color-secondary);
}

.stay > .content > .right > .right-items {
    margin-top: var(--section-y-spacing);
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.stay > .content > .right > .right-items > .right-item {
    width: 100%;
    background-color: rgba(var(--accent-color), 0.2);
    padding: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;
    /* font-weight: 500; */
    border: 1px solid rgba(var(--accent-color), 0.5);
    border-radius: 14px;
}

.stay > .content > .right > .right-items > .right-item::before {
    content: "";
    height: 3.1px;
    width: 3.1px;
    background-color: var(--text-color);
    display: block;
    border-radius: 50%;
}

.stay > .content > .right > .cta-button {
    margin-top: calc(var(--section-y-spacing) + 10px);
}

@media only screen and (min-width: 1000px) {
    .stay > .content {
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    .stay > .content > .img-container > .info {
        display: block;
    }
}

/* Rules */
.rules {
    width: 100%;
    margin-top: var(--section-y-spacing);
    padding: 0 var(--page-x-deadzone);
}

.rules > .content {
    max-width: var(--max-section-size);
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.rules > .content > .card {
    background-color: rgb(var(--foreground-color));
    padding: 20px 17px;
    display: flex;
    align-items: flex-start;
    gap: 17px;
    border-radius: 10px;
    box-shadow: 2px 5px 7px rgba(165, 165, 165, 0.17);
}

.rules > .content > .card > svg {
    height: 37px;
    width: 37px;
    fill: rgb(var(--accent-color2));
}

.rules > .content > .card > .right {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.rules > .content > .card > .right > h2 {
    /* font-family: var(--secondary-font); */
    font-size: 1.1em;
    font-weight: 500;
}

.rules > .content > .card > .right > p {
    color: var(--text-color-secondary);
    /* font-size: 0.8rem; */
    font-weight: 400;
}

@media only screen and (min-width: 700px) {
    .rules > .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1777px) {
    .rules > .content {
        display: flex;
        justify-content: space-between;
    }
}

/* Highlights */

.highlights {
    width: 100%;
    padding: 0 var(--page-x-deadzone);
}

.highlights > .content {
    max-width: var(--max-section-size);
    width: 100%;
    margin: var(--section-y-spacing) auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    justify-content: center;
    align-items: center;
}

.highlights > .content > .card {
    height: 280px;
    max-width: 310px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.highlights > .content > .card > img {
    border-radius: 10px;
    object-fit: cover;
}

.highlights > .content > .card > .info {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0));
    padding: 40px 14px 14px 14px;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 10px 10px;
}

.highlights > .content > .card > .info > h3 {
    color: white;
    font-weight: 500;
}

.highlights > .content > .card > .info > p {
    color: white;
    font-weight: 400;
    opacity: 0.8;
}

@media only screen and (min-width: 1424px) {
    .highlights > .content {
        justify-content: space-between;
    }
}

.about-us-faq {
    width: 100%;
    padding: 0 var(--page-x-deadzone);
}

.about-us-faq > .content {
    max-width: var(--max-section-size);
    width: 100%;
    margin: var(--section-y-spacing) auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.about-us-faq > .content > .faq {
    width: 100%;
    background-color: rgb(var(--foreground-color));
    padding: 20px 50px 20px 20px;
    position: relative;
    /* color: rgb(var(--accent-color));
    font-weight: 500; */
    border-radius: 10px;
    box-shadow: 1px 1px 11px rgba(119, 119, 119, 0.1);
    cursor: pointer;
}

.about-us-faq > .content > .faq::after {
    content: "";
    height: 5px;
    width: 5px;
    position: absolute;
    top: 50%;
    right: calc(25px - 2.5px);
    transform: translateY(-50%) rotate(45deg);
    display: block;
    border-right: 2px solid rgb(var(--accent-color));
    border-bottom: 2px solid rgb(var(--accent-color));
    transition: transform 0.1s ease;
}

.about-us-faq > .content > .faq.active::after {
    transform: translateY(-50%) rotate(-135deg);
}

.about-us-faq > .content > .faq > p {
    max-height: 0px;
    /* display: none; */
    width: 100%;
    background-color: rgb(var(--foreground-color));
    padding: 0 20px;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    display: block;
    color: var(--text-color-secondary);
    /* border-top: 1px solid rgb(var(--accent-color)); */
    border-radius: 10px;
    box-shadow: 1px 10px 11px rgba(119, 119, 119, 0.1);
    overflow: hidden;
    z-index: 1;
    transition: max-height 0.2s ease, transform 0.2s ease, padding 0.2s ease;
}

.about-us-faq > .content > .faq.active > p {
    max-height: 500px;
    padding: 20px;
    z-index: 2;
    transform: translateY(11px);
}

@media only screen and (min-width: 820px) {
    .about-us-faq > .content {
        grid-template-columns: 1fr 1fr;
    }

    .about-us-faq > .content > .faq:nth-child(even) {
        margin-left: auto;
    }
}