/* Libraries */
@import url(../vendor/corbzhamburger/hamburger.css);

@import url(./reset.css);
@import url(./variables.css);
@import url(./base.css);

.hero {
    min-height: 558px;
    max-height: 1000px;
    height: calc(100vh - var(--mobile-nav-height));
    width: 100vw;
    /* margin-top: 2px; */
    background-image: 
        linear-gradient(to top, rgba(0, 0, 0, 0.8) 35%, rgba(0, 0, 0, 0.5) 80%, rgba(0, 0, 0, 0.2)),
        url('../media/images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero > .content {
    width: 100%;
    padding: 0 var(--page-x-deadzone);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    color: white;
}

.hero > .content > h2 {
    text-align: center;
    font-weight: normal;
}

.hero > .content > p {
    opacity: 0.8;
    text-align: center;
}

.hero > .content > a {
    margin-top: 20px;
    border: 1px solid rgb(var(--accent-color2));
}

.hero > .content > a:hover {
    color: white;
}

.hero > .amenities {
    background-color: rgba(148, 148, 148, 0.25);
    backdrop-filter: blur(5px);
    padding: 25px 20px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5) inset;
}

.hero > .amenities > .amenity {
    min-width: 208px;
    /* background-color: green; */
    padding: 0 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 1.1rem;
}

.hero > .amenities > .amenity:nth-child(n+2)::after {
    content: "";
    height: 100%;
    width: 2px;
    background-color: rgb(var(--accent-color));
    position: absolute;
    left: 0;
    border-radius: 25px;
}

/* .hero > .amenities > .amenity > .icon {
    height: 50px;
    width: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
} */

.hero > .amenities > .amenity > .icon > svg {
    height: 35px;
    width: 35px;
    fill: white;
}

.hero > .amenities > .amenity > span {
    text-align: center;
    letter-spacing: 1px;
    opacity: 0.7;
}

@media only screen and (min-width: 946px) {
    .hero > .amenities {
        display: flex;
    }
}

.services-overview {
    width: 100%;
}

.services-overview > .content {
    width: 100%;
    padding: var(--section-y-spacing) var(--page-x-deadzone);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.services-overview > .content > .card {
    width: 100%;
    background-color: rgb(var(--foreground-color));
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 11px rgba(119, 119, 119, 0.1);
}

.services-overview > .content > .card > .icon {
    height: 70px;
    width: 70px;
    background-color: rgba(var(--accent-color), 0.14);
    padding: 10px;
    border-radius: 50%;
}

.services-overview > .content > .card > .icon > svg {
    height: 100%;
    fill: rgb(var(--accent-color));
}

.services-overview > .content > .card > .title {
    margin-top: 15px;
    color: rgb(var(--accent-color));
    font-weight: 500;
}

@media only screen and (min-width: 878px) {
    .services-overview > .content {
        flex-direction: row;
    }

    .services-overview > .content > .card:nth-child(n+2) {
        border-top: none;
        border-left: 2px solid rgb(var(--accent-color));
    }
}

@media only screen and (min-width: 946px) {
    .services-overview > .content {
        display: none;
    }
}