:root {
    /* Sizes */
    --mobile-nav-height: 101px;
    --max-section-size: 1400px;

    /* Colors */
    --background-color: rgb(245, 245, 245);
    --foreground-color: 252, 252, 252;
    --accent-color: 136, 193, 66;
    --accent-color2: 32, 140, 192;
    --text-color: rgb(30, 41, 59);
    --text-color-secondary: rgb(71, 85, 105);
    --text-color-heading: white;
    --text-color-subheading: whitesmoke;

    /* Font */
    --primary-font: "Outfit", "ui-sans-serif", "system-ui";
    --secondary-font: "Playfair Display", "serif";

    /* Spacing */
    --page-x-deadzone: 25px;
    --page-y-spacing: 100px;
    --section-y-spacing: 35px;
    --section-y-spacing: 25px;
}

@media only screen and (min-width: 767px) {
    :root {
        --page-x-deadzone: 50px;
    }
}